{% extends "base.html" %}

{% block conteudo %}
    <h1>Calcular Equação do Segundo Grau</h1>
    <form action="/calc_2grau" method="post">
        <div class="form-group">
            <label for="a">Valor de a:</label>
            <input type="number" class="form-control" id="a" name="a" required="">
        </div>
        <div class="form-group">
            <label for="b">Valor de b:</label>
            <input type="number" class="form-control" id="b" name="b" required="">
        </div>
        <div class="form-group">
            <label for="c">Valor de c:</label>
            <input type="number" class="form-control" id="c" name="c" required="">
        </div>
        <button type="submit" class="btn btn-primary">Calcular</button>
    </form>

    {% if res_equ %}

    <div class="container">
        <h1 class="mt-5">Resultado da Equação do Segundo Grau</h1>
        {% if res_equ.x1 and res_equ.x2 %}
        <div class="alert alert-success">
        <p>{{res_equ.mss}}</p>
        <p>x1 = {{res_equ.x1}}</p>
        <p>x2 = {{res_equ.x2}}</p>
        {% else %}
        <div class="alert alert-danger">
            <p>{{res_equ.mss}}</p>
        {% endif %}
        </div>

    </div>

    {% endif %}
    
   
{% endblock %}
        